html{
    background-color: #02010a;
}
body{
    width: 80%;
    margin-left: 10%;
    font-family: Dancing Script;
}
header{
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    color: white;
}

#imgCentral{
    text-align: center;
    background-color: #82c3a6;
}
#imgCentral img{
    width: 50%;
    -webkit-box-shadow: 2px 2px 2px 0px #02010a ;
    -moz-box-shadow: 2px 2px 2px 0px #02010a ;
    box-shadow: 2px 2px 2px 0px #02010a ;
    margin-top: 25px;
    margin-bottom: 25px;
}
header #menu .item{
    color: white;
}
#menu .item{
    text-decoration:none;
}

.C1{    
    margin: 20px;
}
.C1 #imagen1{
    height: 30%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 2px 0px #02010a ;
    -moz-box-shadow: 2px 2px 2px 0px #02010a ;
    box-shadow: 2px 2px 2px 0px #02010a ;
}
.C1 #imagen1:hover{
    transform: rotate(10deg);
    -webkit-box-shadow: 2px 2px 2px 0px #82c3a6;
    -moz-box-shadow: 2px 2px 2px 0px #82c3a6;
    box-shadow: 2px 2px 2px 0px #82c3a6;
    border: 2px solid;
}
.C2{
    margin: 20px;  
}
.C2 #imagen2{
    height: 30%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 2px 0px #02010a ;
    -moz-box-shadow: 2px 2px 2px 0px #02010a ;
    box-shadow: 2px 2px 2px 0px #02010a ;
}
.C2 #imagen2:hover{
    transform: translate(20px, -5px);  
    -webkit-box-shadow: 2px 2px 2px 0px #82c3a6 ;
    -moz-box-shadow: 2px 2px 2px 0px #82c3a6;
    box-shadow: 2px 2px 2px 0px #82c3a6;
    border: 2px solid;
}


@media only screen and (min-width:900px){

#contenido{
    align-content: center;
    width:  100%;
}
header #menu{
    text-align: right;
}

header h1{
    text-align: left;
    text-shadow: 2px 2px 2px #02010a, 0 0 30px #02010a;
}


.C3{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: #d5c75f;
    border: 1px solid;
    width: 100%;
}


footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #C6d5c5;
    justify-content:space-around;
}
}

@media (max-width:900px){
    #contenido{
        align-content: center;
        width: 900px;
    }
   
    header #menu{
        text-align: center;
    }

    header h1{
        text-align: center;
        text-shadow: 2px 2px 2px #02010a, 0 0 30px #02010a;
    }

    .C3{
        display: flex;
        align-items: center;    
        background-color: #d5c75f;
        border: 1px solid;
        width: 100%;
        flex-direction:column;
    }

    footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #C6d5c5;
        text-align: justify ;
    }
     footer div{
         margin-left: 20%;
     }
}
